<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ai</key>
	<array>
		<string>suis</string>
		<string>es</string>
		<string>est</string>
		<string>sommes</string>
		<string>êtes</string>
		<string>sont</string>
	</array>
	<key>as</key>
	<array>
		<string>suis</string>
		<string>es</string>
		<string>est</string>
		<string>sommes</string>
		<string>êtes</string>
		<string>sont</string>
	</array>
	<key>a</key>
	<array>
		<string>suis</string>
		<string>es</string>
		<string>est</string>
		<string>sommes</string>
		<string>êtes</string>
		<string>sont</string>
	</array>
	<key>avons</key>
	<array>
		<string>suis</string>
		<string>es</string>
		<string>est</string>
		<string>sommes</string>
		<string>êtes</string>
		<string>sont</string>
	</array>
	<key>avez</key>
	<array>
		<string>suis</string>
		<string>es</string>
		<string>est</string>
		<string>sommes</string>
		<string>êtes</string>
		<string>sont</string>
	</array>
	<key>ont</key>
	<array>
		<string>suis</string>
		<string>es</string>
		<string>est</string>
		<string>sommes</string>
		<string>êtes</string>
		<string>sont</string>
	</array>
	<key>avais</key>
	<array>
		<string>étais</string>
		<string>étais</string>
		<string>était</string>
		<string>étions</string>
		<string>étiez</string>
		<string>étaient</string>
	</array>
	<key>avait</key>
	<array>
		<string>étais</string>
		<string>étais</string>
		<string>était</string>
		<string>étions</string>
		<string>étiez</string>
		<string>étaient</string>
	</array>
	<key>avions</key>
	<array>
		<string>étais</string>
		<string>étais</string>
		<string>était</string>
		<string>étions</string>
		<string>étiez</string>
		<string>étaient</string>
	</array>
	<key>aviez</key>
	<array>
		<string>étais</string>
		<string>étais</string>
		<string>était</string>
		<string>étions</string>
		<string>étiez</string>
		<string>étaient</string>
	</array>
	<key>avaient</key>
	<array>
		<string>étais</string>
		<string>étais</string>
		<string>était</string>
		<string>étions</string>
		<string>étiez</string>
		<string>étaient</string>
	</array>
	<key>eus</key>
	<array>
		<string>fus</string>
		<string>fus</string>
		<string>fut</string>
		<string>fûmes</string>
		<string>fûtes</string>
		<string>furent</string>
	</array>
	<key>eut</key>
	<array>
		<string>fus</string>
		<string>fus</string>
		<string>fut</string>
		<string>fûmes</string>
		<string>fûtes</string>
		<string>furent</string>
	</array>
	<key>eûmes</key>
	<array>
		<string>fus</string>
		<string>fus</string>
		<string>fut</string>
		<string>fûmes</string>
		<string>fûtes</string>
		<string>furent</string>
	</array>
	<key>eûtes</key>
	<array>
		<string>fus</string>
		<string>fus</string>
		<string>fut</string>
		<string>fûmes</string>
		<string>fûtes</string>
		<string>furent</string>
	</array>
	<key>eurent</key>
	<array>
		<string>fus</string>
		<string>fus</string>
		<string>fut</string>
		<string>fûmes</string>
		<string>fûtes</string>
		<string>furent</string>
	</array>
	<key>aurai</key>
	<array>
		<string>serai</string>
		<string>seras</string>
		<string>sera</string>
		<string>serons</string>
		<string>serez</string>
		<string>seront</string>
	</array>
	<key>auras</key>
	<array>
		<string>serai</string>
		<string>seras</string>
		<string>sera</string>
		<string>serons</string>
		<string>serez</string>
		<string>seront</string>
	</array>
	<key>aura</key>
	<array>
		<string>serai</string>
		<string>seras</string>
		<string>sera</string>
		<string>serons</string>
		<string>serez</string>
		<string>seront</string>
	</array>
	<key>aurons</key>
	<array>
		<string>serai</string>
		<string>seras</string>
		<string>sera</string>
		<string>serons</string>
		<string>serez</string>
		<string>seront</string>
	</array>
	<key>aurez</key>
	<array>
		<string>serai</string>
		<string>seras</string>
		<string>sera</string>
		<string>serons</string>
		<string>serez</string>
		<string>seront</string>
	</array>
	<key>auront</key>
	<array>
		<string>serai</string>
		<string>seras</string>
		<string>sera</string>
		<string>serons</string>
		<string>serez</string>
		<string>seront</string>
	</array>
	<key>aie</key>
	<array>
		<string>sois</string>
		<string>sois</string>
		<string>soit</string>
		<string>soyons</string>
		<string>soyez</string>
		<string>soient</string>
	</array>
	<key>aies</key>
	<array>
		<string>sois</string>
		<string>sois</string>
		<string>soit</string>
		<string>soyons</string>
		<string>soyez</string>
		<string>soient</string>
	</array>
	<key>ait</key>
	<array>
		<string>sois</string>
		<string>sois</string>
		<string>soit</string>
		<string>soyons</string>
		<string>soyez</string>
		<string>soient</string>
	</array>
	<key>ayons</key>
	<array>
		<string>sois</string>
		<string>sois</string>
		<string>soit</string>
		<string>soyons</string>
		<string>soyez</string>
		<string>soient</string>
	</array>
	<key>ayez</key>
	<array>
		<string>sois</string>
		<string>sois</string>
		<string>soit</string>
		<string>soyons</string>
		<string>soyez</string>
		<string>soient</string>
	</array>
	<key>aient</key>
	<array>
		<string>sois</string>
		<string>sois</string>
		<string>soit</string>
		<string>soyons</string>
		<string>soyez</string>
		<string>soient</string>
	</array>
	<key>eusse</key>
	<array>
		<string>fusse</string>
		<string>fusses</string>
		<string>fût</string>
		<string>fussions</string>
		<string>fussiez</string>
		<string>fussent</string>
	</array>
	<key>eusses</key>
	<array>
		<string>fusse</string>
		<string>fusses</string>
		<string>fût</string>
		<string>fussions</string>
		<string>fussiez</string>
		<string>fussent</string>
	</array>
	<key>eût</key>
	<array>
		<string>fusse</string>
		<string>fusses</string>
		<string>fût</string>
		<string>fussions</string>
		<string>fussiez</string>
		<string>fussent</string>
	</array>
	<key>eussions</key>
	<array>
		<string>fusse</string>
		<string>fusses</string>
		<string>fût</string>
		<string>fussions</string>
		<string>fussiez</string>
		<string>fussent</string>
	</array>
	<key>eussiez</key>
	<array>
		<string>fusse</string>
		<string>fusses</string>
		<string>fût</string>
		<string>fussions</string>
		<string>fussiez</string>
		<string>fussent</string>
	</array>
	<key>eussent</key>
	<array>
		<string>fusse</string>
		<string>fusses</string>
		<string>fût</string>
		<string>fussions</string>
		<string>fussiez</string>
		<string>fussent</string>
	</array>
	<key>aurais</key>
	<array>
		<string>serais</string>
		<string>serais</string>
		<string>serait</string>
		<string>serions</string>
		<string>seriez</string>
		<string>seraient</string>
	</array>
	<key>aurait</key>
	<array>
		<string>serais</string>
		<string>serais</string>
		<string>serait</string>
		<string>serions</string>
		<string>seriez</string>
		<string>seraient</string>
	</array>
	<key>aurions</key>
	<array>
		<string>serais</string>
		<string>serais</string>
		<string>serait</string>
		<string>serions</string>
		<string>seriez</string>
		<string>seraient</string>
	</array>
	<key>auriez</key>
	<array>
		<string>serais</string>
		<string>serais</string>
		<string>serait</string>
		<string>serions</string>
		<string>seriez</string>
		<string>seraient</string>
	</array>
	<key>auraient</key>
	<array>
		<string>serais</string>
		<string>serais</string>
		<string>serait</string>
		<string>serions</string>
		<string>seriez</string>
		<string>seraient</string>
	</array>
</dict>
</plist>
