<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abandonner</key>
	<string>abbandonare</string>
	<key>abattre</key>
	<string>abbattere</string>
	<key>accepter</key>
	<string>accettare</string>
	<key>acheter</key>
	<string>comprare</string>
	<key>achever</key>
	<string>completare</string>
	<key>acquérir</key>
	<string>acquisire</string>
	<key>agir</key>
	<string>agire</string>
	<key>aimer</key>
	<string>amare</string>
	<key>ajouter</key>
	<string>aggiungere</string>
	<key>aller</key>
	<string>andare</string>
	<key>annoncer</key>
	<string>annunciare</string>
	<key>apercevoir</key>
	<string>vedere</string>
	<key>appeler</key>
	<string>chiamare</string>
	<key>apprendre</key>
	<string>imparare</string>
	<key>approcher</key>
	<string>avvicinarsi</string>
	<key>arriver</key>
	<string>arrivare</string>
	<key>arrêter</key>
	<string>fermarsi</string>
	<key>asseoir</key>
	<string>sedersi</string>
	<key>atteindre</key>
	<string>raggiungere</string>
	<key>attendre</key>
	<string>aspettare</string>
	<key>avoir</key>
	<string>avere</string>
	<key>avouer</key>
	<string>confessare</string>
	<key>baisser</key>
	<string>abbassare</string>
	<key>battre</key>
	<string>battere</string>
	<key>boire</key>
	<string>bere</string>
	<key>brancher</key>
	<string>tappare</string>
	<key>bâtir</key>
	<string>costruire</string>
	<key>cacher</key>
	<string>nascondere</string>
	<key>chanceler</key>
	<string>barcollare</string>
	<key>changer</key>
	<string>cambiare</string>
	<key>chanter</key>
	<string>cantare</string>
	<key>chasser</key>
	<string>cacciare</string>
	<key>chercher</key>
	<string>cercare</string>
	<key>choisir</key>
	<string>scegliere</string>
	<key>commencer </key>
	<string>iniziare </string>
	<key>comprendre</key>
	<string>capire</string>
	<key>concentrer</key>
	<string>concentrarsi</string>
	<key>conclure</key>
	<string>concludere</string>
	<key>conduire</key>
	<string>guidare</string>
	<key>connaître</key>
	<string>conoscere</string>
	<key>construire</key>
	<string>costruire</string>
	<key>consulter</key>
	<string>consultare</string>
	<key>continuer</key>
	<string>continuare</string>
	<key>contrôler</key>
	<string>controllare</string>
	<key>coudre</key>
	<string>cucire</string>
	<key>courir</key>
	<string>correre</string>
	<key>couvrir</key>
	<string>coprire</string>
	<key>craindre</key>
	<string>temere</string>
	<key>creuser</key>
	<string>scavare</string>
	<key>crier</key>
	<string>gridare</string>
	<key>croire</key>
	<string>credere</string>
	<key>cueillir</key>
	<string>scegliere</string>
	<key>danser</key>
	<string>ballare</string>
	<key>demander</key>
	<string>chiedere</string>
	<key>descendre</key>
	<string>scendere</string>
	<key>dessiner</key>
	<string>disegnare</string>
	<key>devenir</key>
	<string>diventare</string>
	<key>devoir</key>
	<string>dover</string>
	<key>dire</key>
	<string>dire</string>
	<key>disparaître</key>
	<string>scomparire</string>
	<key>donner</key>
	<string>dare</string>
	<key>dormir</key>
	<string>dormire</string>
	<key>décevoir</key>
	<string>deludere</string>
	<key>défendre</key>
	<string>difendere</string>
	<key>déguster</key>
	<string>assaggiare</string>
	<key>démonter</key>
	<string>smontare</string>
	<key>démouler</key>
	<string>sformare</string>
	<key>déplacer</key>
	<string>spostarsi</string>
	<key>désirer</key>
	<string>desiderare</string>
	<key>dîner</key>
	<string>cenare</string>
	<key>embrasser</key>
	<string>abbracciare</string>
	<key>employer</key>
	<string>usare</string>
	<key>entendre</key>
	<string>sentire</string>
	<key>entrer</key>
	<string>entrare</string>
	<key>envoyer</key>
	<string>inviare</string>
	<key>espérer</key>
	<string>sperare</string>
	<key>essuyer</key>
	<string>pulire</string>
	<key>examiner</key>
	<string>esaminare</string>
	<key>excuser</key>
	<string>scusare</string>
	<key>exister</key>
	<string>esistere</string>
	<key>expliquer</key>
	<string>spiegare</string>
	<key>exploser</key>
	<string>esplodere</string>
	<key>fabriquer</key>
	<string>fare</string>
	<key>faire</key>
	<string>fare</string>
	<key>falloir</key>
	<string>avere</string>
	<key>finir</key>
	<string>finire</string>
	<key>fleurir</key>
	<string>fiorire</string>
	<key>fuir</key>
	<string>fuggire</string>
	<key>fêter</key>
	<string>festeggiare</string>
	<key>gagner</key>
	<string>vincere</string>
	<key>garder</key>
	<string>conservare</string>
	<key>grandir</key>
	<string>crescere</string>
	<key>grignoter</key>
	<string>sgranocchiare</string>
	<key>habiller</key>
	<string>vestire</string>
	<key>inscrire</key>
	<string>registrare</string>
	<key>installer</key>
	<string>installare</string>
	<key>intervenir</key>
	<string>intervenire</string>
	<key>jeter</key>
	<string>lanciare</string>
	<key>jouer</key>
	<string>giocare</string>
	<key>laisser</key>
	<string>lasciare</string>
	<key>lancer</key>
	<string>lanciare</string>
	<key>laver</key>
	<string>lavare</string>
	<key>lever</key>
	<string>sollevare</string>
	<key>lire</key>
	<string>leggere</string>
	<key>léguer</key>
	<string>lasciare</string>
	<key>manger</key>
	<string>mangiare</string>
	<key>manquer</key>
	<string>mancare</string>
	<key>marcher</key>
	<string>camminare</string>
	<key>maîtriser</key>
	<string>padroneggiare</string>
	<key>mentir</key>
	<string>mentire</string>
	<key>mettre</key>
	<string>mettere</string>
	<key>modifier</key>
	<string>cambiare</string>
	<key>monter</key>
	<string>arrampicarsi</string>
	<key>montrer</key>
	<string>mostrare</string>
	<key>mordre</key>
	<string>mordere</string>
	<key>moudre</key>
	<string>macinare</string>
	<key>mouiller</key>
	<string>bagnare</string>
	<key>mourir</key>
	<string>morire</string>
	<key>neiger</key>
	<string>nevicare</string>
	<key>nettoyer</key>
	<string>pulire</string>
	<key>observer</key>
	<string>osservare</string>
	<key>obtenir</key>
	<string>ottenere</string>
	<key>offrir</key>
	<string>offrire</string>
	<key>organiser</key>
	<string>organizzare</string>
	<key>oublier</key>
	<string>dimenticare</string>
	<key>ouvrir</key>
	<string>aprire</string>
	<key>paraître</key>
	<string>apparire</string>
	<key>parler</key>
	<string>parlare</string>
	<key>partir</key>
	<string>lasciare</string>
	<key>parvenir</key>
	<string>raggiungere</string>
	<key>passer</key>
	<string>passare</string>
	<key>payer</key>
	<string>pagare</string>
	<key>peindre</key>
	<string>dipingere</string>
	<key>penser</key>
	<string>pensare</string>
	<key>perdre</key>
	<string>perdere</string>
	<key>permettre</key>
	<string>permettere</string>
	<key>plaindre</key>
	<string>lamentarsi</string>
	<key>planter</key>
	<string>piantare</string>
	<key>pleuvoir</key>
	<string>piovere</string>
	<key>plier</key>
	<string>piegare</string>
	<key>porter</key>
	<string>trasportare</string>
	<key>posséder</key>
	<string>possedere</string>
	<key>pouvoir</key>
	<string>potere</string>
	<key>prendre</key>
	<string>prendere</string>
	<key>produire</key>
	<string>produrre</string>
	<key>présenter</key>
	<string>presentare</string>
	<key>prêter</key>
	<string>prestare</string>
	<key>quitter</key>
	<string>lasciare</string>
	<key>raboter</key>
	<string>pianificare</string>
	<key>ranger</key>
	<string>mettere via</string>
	<key>rappeler</key>
	<string>richiamare</string>
	<key>rassembler</key>
	<string>raccogliere</string>
	<key>recevoir</key>
	<string>ricevere</string>
	<key>recharger</key>
	<string>ricaricare</string>
	<key>reconnaître</key>
	<string>riconoscere</string>
	<key>regarder</key>
	<string>guardare</string>
	<key>rendre</key>
	<string>ritornare</string>
	<key>rentrer</key>
	<string>ritornare</string>
	<key>reprendre</key>
	<string>riprendere</string>
	<key>resplendir</key>
	<string>brillare</string>
	<key>rester</key>
	<string>rimanere</string>
	<key>retenir</key>
	<string>trattenere</string>
	<key>retrouver</key>
	<string>trovare</string>
	<key>revenir</key>
	<string>ritornare</string>
	<key>rire</key>
	<string>ridere</string>
	<key>rougir</key>
	<string>arrossire</string>
	<key>réagir</key>
	<string>reagire</string>
	<key>répondre</key>
	<string>rispondere</string>
	<key>résoudre</key>
	<string>risolvere</string>
	<key>rétablir</key>
	<string>ripristinare</string>
	<key>réussir</key>
	<string>avere successo</string>
	<key>réveiller</key>
	<string>risvegliare</string>
	<key>réviser</key>
	<string>rivedere</string>
	<key>s&apos;absenter</key>
	<string>andarevia</string>
	<key>s&apos;extasier</key>
	<string>essere estatico</string>
	<key>s&apos;évanouir</key>
	<string>svenire</string>
	<key>savoir</key>
	<string>conoscere</string>
	<key>sembler</key>
	<string>sembrare</string>
	<key>sentir</key>
	<string>sentire</string>
	<key>servir</key>
	<string>servire</string>
	<key>skier</key>
	<string>sciare</string>
	<key>sommer</key>
	<string>convocare</string>
	<key>songer</key>
	<string>pensare</string>
	<key>sonner</key>
	<string>suonare</string>
	<key>sortir</key>
	<string>uscire</string>
	<key>souffler</key>
	<string>soffiare</string>
	<key>souffrir</key>
	<string>soffrire</string>
	<key>souhaiter</key>
	<string>desiderare</string>
	<key>sourire</key>
	<string>sorridere</string>
	<key>sucrer</key>
	<string>addolcire</string>
	<key>suivre</key>
	<string>seguire</string>
	<key>taper</key>
	<string>digitare</string>
	<key>tenir</key>
	<string>trattenere</string>
	<key>terminer</key>
	<string>finire</string>
	<key>tomber</key>
	<string>cadere</string>
	<key>tondre</key>
	<string>falciare</string>
	<key>tordre</key>
	<string>torcere</string>
	<key>tourner</key>
	<string>girare</string>
	<key>traduire</key>
	<string>tradurre</string>
	<key>trouver</key>
	<string>trovare</string>
	<key>téléphoner</key>
	<string>telefonare</string>
	<key>vaciller</key>
	<string>vacillare</string>
	<key>vaincre</key>
	<string>superare</string>
	<key>valoir</key>
	<string>valere</string>
	<key>vendre</key>
	<string>vendere</string>
	<key>venir</key>
	<string>venire</string>
	<key>vider</key>
	<string>svuotare</string>
	<key>visiter</key>
	<string>visitare</string>
	<key>vivre</key>
	<string>vivere</string>
	<key>voir</key>
	<string>vedere</string>
	<key>voler</key>
	<string>volare</string>
	<key>vouloir</key>
	<string>volere</string>
	<key>écarquiller</key>
	<string>fissare</string>
	<key>écouter</key>
	<string>ascoltare</string>
	<key>écrire</key>
	<string>scrivere</string>
	<key>élucider</key>
	<string>chiarire</string>
	<key>éteindre</key>
	<string>spegnere</string>
	<key>étudier</key>
	<string>studiare</string>
	<key>éviter</key>
	<string>evitare</string>
	<key>être</key>
	<string>essere</string>
</dict>
</plist>
