<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abandonner</key>
	<string>abandonar</string>
	<key>abattre</key>
	<string>derribar</string>
	<key>accepter</key>
	<string>aceptar</string>
	<key>acheter</key>
	<string>comprar</string>
	<key>achever</key>
	<string>completar</string>
	<key>acquérir</key>
	<string>adquirir</string>
	<key>agir</key>
	<string>actuar</string>
	<key>aimer</key>
	<string>amar</string>
	<key>ajouter</key>
	<string>añadir</string>
	<key>aller</key>
	<string>Ir</string>
	<key>annoncer</key>
	<string>anunciar</string>
	<key>apercevoir</key>
	<string>ver</string>
	<key>appeler</key>
	<string>llamar</string>
	<key>apprendre</key>
	<string>aprender</string>
	<key>approcher</key>
	<string>acercarse</string>
	<key>arriver</key>
	<string>llegar</string>
	<key>arrêter</key>
	<string>Detener</string>
	<key>asseoir</key>
	<string>sentar</string>
	<key>atteindre</key>
	<string>llegar</string>
	<key>attendre</key>
	<string>esperar</string>
	<key>avoir</key>
	<string>tener,haber</string>
	<key>avouer</key>
	<string>confesar</string>
	<key>baisser</key>
	<string>bajar</string>
	<key>battre</key>
	<string>golpear</string>
	<key>boire</key>
	<string>beber</string>
	<key>brancher</key>
	<string>conectar</string>
	<key>bâtir</key>
	<string>construir</string>
	<key>cacher</key>
	<string>ocultar</string>
	<key>chanceler</key>
	<string>tambalearse</string>
	<key>changer</key>
	<string>cambiar</string>
	<key>chanter</key>
	<string>cantar</string>
	<key>chasser</key>
	<string>cazar</string>
	<key>chercher</key>
	<string>buscar</string>
	<key>choisir</key>
	<string>elegir</string>
	<key>commencer </key>
	<string>iniciar </string>
	<key>comprendre</key>
	<string>comprender</string>
	<key>concentrer</key>
	<string>concentrarse</string>
	<key>conclure</key>
	<string>concluir</string>
	<key>conduire</key>
	<string>conducir</string>
	<key>connaître</key>
	<string>conocer</string>
	<key>construire</key>
	<string>construir</string>
	<key>consulter</key>
	<string>consultar</string>
	<key>continuer</key>
	<string>continuar</string>
	<key>contrôler</key>
	<string>controlar</string>
	<key>coudre</key>
	<string>coser</string>
	<key>courir</key>
	<string>correr</string>
	<key>couvrir</key>
	<string>cubrir</string>
	<key>craindre</key>
	<string>temer</string>
	<key>creuser</key>
	<string>cavar</string>
	<key>crier</key>
	<string>gritar</string>
	<key>croire</key>
	<string>creer</string>
	<key>cueillir</key>
	<string>recoger</string>
	<key>danser</key>
	<string>bailar</string>
	<key>demander</key>
	<string>pedir</string>
	<key>descendre</key>
	<string>bajar</string>
	<key>dessiner</key>
	<string>dibujar</string>
	<key>devenir</key>
	<string>convertirseen</string>
	<key>devoir</key>
	<string>tener que</string>
	<key>dire</key>
	<string>decir</string>
	<key>disparaître</key>
	<string>desaparecer</string>
	<key>donner</key>
	<string>dar</string>
	<key>dormir</key>
	<string>dormir</string>
	<key>décevoir</key>
	<string>decepcionar</string>
	<key>défendre</key>
	<string>defender</string>
	<key>déguster</key>
	<string>disfrutar</string>
	<key>démonter</key>
	<string>desmontar</string>
	<key>démouler</key>
	<string>desmoldar</string>
	<key>déplacer</key>
	<string>moverse</string>
	<key>désirer</key>
	<string>desear</string>
	<key>dîner</key>
	<string>cenar</string>
	<key>embrasser</key>
	<string>abrazar</string>
	<key>employer</key>
	<string>usar</string>
	<key>entendre</key>
	<string>escuchar</string>
	<key>entrer</key>
	<string>entrar</string>
	<key>envoyer</key>
	<string>enviar</string>
	<key>espérer</key>
	<string>esperar</string>
	<key>essuyer</key>
	<string>limpiar</string>
	<key>examiner</key>
	<string>examinar</string>
	<key>excuser</key>
	<string>excusar</string>
	<key>exister</key>
	<string>existir</string>
	<key>expliquer</key>
	<string>explicar</string>
	<key>exploser</key>
	<string>explotar</string>
	<key>fabriquer</key>
	<string>hacer</string>
	<key>faire</key>
	<string>hacer</string>
	<key>falloir</key>
	<string>tener</string>
	<key>finir</key>
	<string>terminar</string>
	<key>fleurir</key>
	<string>florecer</string>
	<key>fuir</key>
	<string>huir</string>
	<key>fêter</key>
	<string>celebrar</string>
	<key>gagner</key>
	<string>ganar</string>
	<key>garder</key>
	<string>guardar</string>
	<key>grandir</key>
	<string>crecer</string>
	<key>grignoter</key>
	<string>picar</string>
	<key>habiller</key>
	<string>vestirse</string>
	<key>inscrire</key>
	<string>registrar</string>
	<key>installer</key>
	<string>instalar</string>
	<key>intervenir</key>
	<string>intervenir</string>
	<key>jeter</key>
	<string>lanzar</string>
	<key>jouer</key>
	<string>jugar</string>
	<key>laisser</key>
	<string>abandonar</string>
	<key>lancer</key>
	<string>lanzar</string>
	<key>laver</key>
	<string>lavar</string>
	<key>lever</key>
	<string>levantar</string>
	<key>lire</key>
	<string>leer</string>
	<key>léguer</key>
	<string>abandonar</string>
	<key>manger</key>
	<string>comer</string>
	<key>manquer</key>
	<string>fallar</string>
	<key>marcher</key>
	<string>caminar</string>
	<key>maîtriser</key>
	<string>dominar</string>
	<key>mentir</key>
	<string>mentir</string>
	<key>mettre</key>
	<string>poner</string>
	<key>modifier</key>
	<string>cambiar</string>
	<key>monter</key>
	<string>escalar</string>
	<key>montrer</key>
	<string>mostrar</string>
	<key>mordre</key>
	<string>morder</string>
	<key>moudre</key>
	<string>moler</string>
	<key>mouiller</key>
	<string>mojar</string>
	<key>mourir</key>
	<string>morir</string>
	<key>neiger</key>
	<string>nevar</string>
	<key>nettoyer</key>
	<string>limpiar</string>
	<key>observer</key>
	<string>observar</string>
	<key>obtenir</key>
	<string>conseguir</string>
	<key>offrir</key>
	<string>ofrecer</string>
	<key>organiser</key>
	<string>organizar</string>
	<key>oublier</key>
	<string>olvidar</string>
	<key>ouvrir</key>
	<string>abrir</string>
	<key>paraître</key>
	<string>aparecer</string>
	<key>parler</key>
	<string>hablar</string>
	<key>partir</key>
	<string>abandonar</string>
	<key>parvenir</key>
	<string>alcanzar</string>
	<key>passer</key>
	<string>pasar</string>
	<key>payer</key>
	<string>pagar</string>
	<key>peindre</key>
	<string>pintar</string>
	<key>penser</key>
	<string>pensar</string>
	<key>perdre</key>
	<string>perder</string>
	<key>permettre</key>
	<string>permitir</string>
	<key>plaindre</key>
	<string>quejarse</string>
	<key>planter</key>
	<string>plantar</string>
	<key>pleuvoir</key>
	<string>llover</string>
	<key>plier</key>
	<string>doblar</string>
	<key>porter</key>
	<string>llevar</string>
	<key>posséder</key>
	<string>poseer</string>
	<key>pouvoir</key>
	<string>ser capaz de</string>
	<key>prendre</key>
	<string>tomar</string>
	<key>produire</key>
	<string>producir</string>
	<key>présenter</key>
	<string>presentar</string>
	<key>prêter</key>
	<string>prestar</string>
	<key>quitter</key>
	<string>abandonar</string>
	<key>raboter</key>
	<string>planificar</string>
	<key>ranger</key>
	<string>guardar</string>
	<key>rappeler</key>
	<string>recordar</string>
	<key>rassembler</key>
	<string>reunir</string>
	<key>recevoir</key>
	<string>recibir</string>
	<key>recharger</key>
	<string>recargar</string>
	<key>reconnaître</key>
	<string>reconocer</string>
	<key>regarder</key>
	<string>mirar</string>
	<key>rendre</key>
	<string>volver</string>
	<key>rentrer</key>
	<string>volver</string>
	<key>reprendre</key>
	<string>recuperar</string>
	<key>resplendir</key>
	<string>brillar</string>
	<key>rester</key>
	<string>quedarse</string>
	<key>retenir</key>
	<string>sostener</string>
	<key>retrouver</key>
	<string>encontrar</string>
	<key>revenir</key>
	<string>volver</string>
	<key>rire</key>
	<string>reírse</string>
	<key>rougir</key>
	<string>ruborizarse</string>
	<key>réagir</key>
	<string>reaccionar</string>
	<key>répondre</key>
	<string>responder</string>
	<key>résoudre</key>
	<string>resolver</string>
	<key>rétablir</key>
	<string>restaurar</string>
	<key>réussir</key>
	<string>tener éxito</string>
	<key>réveiller</key>
	<string>despertar</string>
	<key>réviser</key>
	<string>revisar</string>
	<key>s&apos;absenter</key>
	<string>marcharse</string>
	<key>s&apos;extasier</key>
	<string>estar extasiado</string>
	<key>s&apos;évanouir</key>
	<string>desmayarse</string>
	<key>savoir</key>
	<string>conocer</string>
	<key>sembler</key>
	<string>parecer</string>
	<key>sentir</key>
	<string>sentir</string>
	<key>servir</key>
	<string>servir</string>
	<key>skier</key>
	<string>esquiar</string>
	<key>sommer</key>
	<string>convocar</string>
	<key>songer</key>
	<string>pensar</string>
	<key>sonner</key>
	<string>llamar</string>
	<key>sortir</key>
	<string>salir</string>
	<key>souffler</key>
	<string>soplar</string>
	<key>souffrir</key>
	<string>sufrir</string>
	<key>souhaiter</key>
	<string>desear</string>
	<key>sourire</key>
	<string>sonreír</string>
	<key>sucrer</key>
	<string>endulzar</string>
	<key>suivre</key>
	<string>seguir</string>
	<key>taper</key>
	<string>escribir a máquina</string>
	<key>tenir</key>
	<string>sostener</string>
	<key>terminer</key>
	<string>terminar</string>
	<key>tomber</key>
	<string>caer</string>
	<key>tondre</key>
	<string>segar</string>
	<key>tordre</key>
	<string>torcer</string>
	<key>tourner</key>
	<string>girar</string>
	<key>traduire</key>
	<string>traducir</string>
	<key>trouver</key>
	<string>encontrar</string>
	<key>téléphoner</key>
	<string>llamar por teléfono</string>
	<key>vaciller</key>
	<string>vacilar</string>
	<key>vaincre</key>
	<string>superar</string>
	<key>valoir</key>
	<string>valer</string>
	<key>vendre</key>
	<string>vender</string>
	<key>venir</key>
	<string>venir</string>
	<key>vider</key>
	<string>vaciar</string>
	<key>visiter</key>
	<string>visitar</string>
	<key>vivre</key>
	<string>vivir</string>
	<key>voir</key>
	<string>ver</string>
	<key>voler</key>
	<string>volar</string>
	<key>vouloir</key>
	<string>querer</string>
	<key>écarquiller</key>
	<string>mirar fijamente</string>
	<key>écouter</key>
	<string>escuchar</string>
	<key>écrire</key>
	<string>escribir</string>
	<key>élucider</key>
	<string>dilucidar</string>
	<key>éteindre</key>
	<string>extinguir</string>
	<key>étudier</key>
	<string>estudiar</string>
	<key>éviter</key>
	<string>evitar</string>
	<key>être</key>
	<string>ser,estar</string>
</dict>
</plist>
