<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627012670038-8gd2k4d0mef3jnjo5r2m0kd5dgr75bp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627012670038-8gd2k4d0mef3jnjo5r2m0kd5dgr75bp6</string>
	<key>API_KEY</key>
	<string>AIzaSyD-OgWeICpwMInFMweKCctyexvCd4JEOgI</string>
	<key>GCM_SENDER_ID</key>
	<string>627012670038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NM.French-Verbs-Quiz</string>
	<key>PROJECT_ID</key>
	<string>frenchverbs-90398</string>
	<key>STORAGE_BUCKET</key>
	<string>frenchverbs-90398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627012670038:ios:e1445d148ab92e6c</string>
	<key>DATABASE_URL</key>
	<string>https://frenchverbs-90398.firebaseio.com</string>
</dict>
</plist>